<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Lock viewport to prevent scaling -->
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="description" content="Calcite Maps - Leaflet">
  <meta name="author" content="">
  <link rel="icon" href="/static/dist/images/favicon.ico">
  <title>Sub-Saharan Africa Soil Data Manager</title>

  <!-- Calcite Maps Bootstrap -->
  <link rel="stylesheet" href="/static/dist/css/calcite-maps-bootstrap.min-v0.8.css">

  <!-- Calcite Maps -->
  <link rel="stylesheet" href="/static/dist/css/calcite-maps-esri-leaflet.min-v0.8.css">
  <link rel="stylesheet" href="/static/dist/fonts/calcite/calcite-ui.css">

  <!-- Load Leaflet from CDN-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>

  <!-- Leaflet Draw -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>

  <link rel="stylesheet" href="/static/dist/css/app.css">

</head>
<body class="calcite-maps calcite-nav-top calcite-layout-small-title">

  <!-- Navbar -->

  <nav class="navbar calcite-navbar navbar-fixed-top calcite-bg-dark calcite-text-light calcite-bgcolor-green">
     <!-- Menu -->
    <div class="dropdown calcite-dropdown calcite-bg-custom calcite-text-light" role="presentation">
      <a class="dropdown-toggle" role="menubutton" aria-haspopup="true" aria-expanded="false" tabindex="0">
        <div class="calcite-dropdown-toggle">
          <span class="sr-only">Toggle dropdown menu</span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
      <ul class="dropdown-menu calcite-bgcolor-green">
        <li><a role="menuitem" tabindex="0" data-target="#panelInfo" aria-haspopup="true"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
        <li><a role="menuitem" tabindex="0" data-target="#panelSettings" aria-haspopup="true"><span class="glyphicon glyphicon-cog"></span> Tools</a></li>
        <li><a role="menuitem" tabindex="0" id="calciteToggleNavbar" aria-haspopup="true"><span class="glyphicon glyphicon-fullscreen"></span> Full Map</a></li>
      </ul>
    </div>
    <!-- Title -->
    <div class="calcite-title calcite-overflow-hidden">
      <span class="calcite-title-main">Sub-Saharan Africa Soil Data Manager</span>
      <!--span class="calcite-title-divider hidden-xs"></span>
      <span class="calcite-title-sub hidden-xs">CIAT</span-->
    </div>
     <!-- Nav -->
    <ul class="calcite-nav nav navbar-nav">                    
      <li><a href="#" target="_blank">Getting Started</a></li>
    </ul>
  </nav><!--/.navbar -->



  <!-- Map Container  -->

  <div class="calcite-map">                
    <div id="map" class="calcite-map-absolute"></div>    
  </div><!-- /.container -->

  <!-- Panel -->

  <div class="calcite-panels calcite-panels-left calcite-bg-custom calcite-text-light panel-group calcite-bgcolor-green" role="tablist" aria-multiselectable="true">
  
    <!-- Info Panel -->

    <div id="panelInfo" class="panel collapse in">
      <div id="headingInfo" class="panel-heading" role="tab">
        <div class="panel-title">
          <a class="panel-toggle" role="button" data-toggle="collapse" href="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="panel-label">About</span></a> 
          <a class="panel-close" role="button" data-toggle="collapse" tabindex="0" href="#panelInfo"><span class="esri-icon esri-icon-close" aria-hidden="true"></span></a>  
        </div>
      </div>
      <div id="collapseInfo" class="panel-collapse" role="tabpanel" aria-labelledby="headingInfo">
        <div class="panel-body">            
          <h3>Welcome to the Sub-Saharan Africa Soil Data Manager!</h3>
          <p>Here you can: </p>
          <b><ul>
            <li>View and download existing soil maps.</li>
            <li>Designs sampling based on covariate data.</li>
            <li>Upload local soil data to adapt and evaluate existing maps.</li>
          </ul></b>
         <p>This web application was developed in a collaboration between The Swedish University of Agricultural Sciences (SLU) and the International Center for Tropical Agriculture. The project was funded by Formas/SIDA (contract: 220-1975-2013) together with Västra Götalandsregionen (VGR; Sweden) and formed part of the CGIAR Research Program on Water, Land and Ecosystems (WLE). The web application is provided as is and we take no responsibility for any damage caused by using it.
</p>
          <p>Contact: kristin.piikki (a) slu.se</p>
          <div id="logos">
            <img src="/static/dist/images/slu.png" alt="SLU" height="70" width="70">
            <img src="/static/dist/images/ciat.png" alt="SLU" height="50" width="105">
            <img src="/static/dist/images/cgiar.png" alt="SLU" height="64" width="142">
            <img src="/static/dist/images/vastra.png" alt="SLU" height="30" width="163">
          </div>
        </div>
      </div>
    </div>


    <div id="panelSettings" class="panel collapse">
              
      <div id="headingSettings" class="panel-heading">
        <div class="panel-title">
          <a class="panel-toggle" role="button" data-toggle="collapse" href="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span><span class="panel-label">Tools</span></a> 

          <a class="panel-close" role="button" data-toggle="collapse" tabindex="0" href="#panelSettings"><span class="esri-icon esri-icon-close" aria-hidden="true"></span></a>
        </div>
      </div>
      
      <div id="collapseSettings" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSettings">
        <div class="panel-body">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#aoitab" aria-controls="aoitab" role="tab" data-toggle="tab">Area of Interest</a></li>
            <li role="presentation"><a href="#title" aria-controls="title" role="tab" data-toggle="tab">Sampling Design</a></li>
            <li role="presentation"><a href="#map1" aria-controls="map1" role="tab" data-toggle="tab">Local Map Adaptation</a></li>
            <li role="presentation"><a href="#theme" aria-controls="theme" role="tab" data-toggle="tab">Outputs</a></li>
            
          </ul>

          <div class="tab-content">

            <!-- AOI Tab -->
            <div role="tabpanel" class="tab-pane active" id="aoitab">  
              <!--div class="calcite-form-title">1. Set the map name and call to action</div-->  
   
              <div class="form-horizontal calcite-form-padding" id="aoi-form">

                <div class="form-group">
                  <label for="samplingSoil" class="col-xs-3 control-label">Soil Raster Layer</label>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="All rasters will be centered and scaled. The first principal component of the rasters will be used as the surface for wich to optimize the sampling." data-toggle="tooltip" data-trigger="click" ></span>
                  <div class="col-xs-9">
                    <select id="samplingSoil" class="form-control">
                      <option value="select" selected>Select</option>
                      <!--option value="Soil_Carbon_0_30_250m_3857.tif">Soil Organic Carbon</option-->
                      <!--option value="dsms_float.tif">DSMS</option-->
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-xs-3 control-label">Area of Interest</label>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Boundary delineating the area to be sampled. The coordinate system shall be the same as for the rasters - WGS84(epsg:4326)." data-toggle="tooltip" data-trigger="click" ></span>

                  <div class="col-xs-9">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="aoiRadios" id="aoiRadios1" value="draw" checked disabled>
                      <label class="form-check-label" for="aoiRadios1">
                        Draw on the map
                      </label>&nbsp;&nbsp;<button type="button" id="polygon" class="btn btn-primary btn-xs" disabled><span class="glyphicon glyphicon-map-marker"></span></button>&nbsp;&nbsp;
                      <button type="button" id="rectangle" class="btn btn-primary btn-xs" disabled><span class="glyphicon glyphicon-stop"></span></button>&nbsp;&nbsp;
                      <button type="button" id="delete" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="aoiRadios" id="aoiRadios2" value="shapefile" disabled>
                      <label class="form-check-label" for="aoiRadios2">
                        Upload a zipped shapefile
                      </label>
                    </div>
          <div class="form-check">
                      <input class="form-check-input" type="radio" name="aoiRadios" id="aoiRadios3" value="gadm" disabled>
                      <label class="form-check-label" for="aoiRadios3">
                        Administrative boundaries
                      </label>
                    </div>


                  </div>
                </div>


                <div class="form-group" id="aoi_shp" style="display: none;">

                  <form id="shpupload" action="" method="post" enctype="multipart/form-data">
                    <label for="shapefile" class="col-xs-3 control-label" disabled>Select zipped shapefile:</label>
                    <div class="col-xs-9">
                    <input id="shapefile" name="shapefile" type="file" class="form-control" disabled/>
                    </div>
                    <div class="col-xs-9 col-xs-offset-3">
                    <button id="samplingUpload" type="submit" class="btn btn-primary btn-block" disabled>Upload</button>
                    </div>
                  </form>

                </div>

                <div class="form-group">

                  <div id="uploadfiles" class="col-xs-12">
                      <ul>

                      </ul>

                  </div>
                </div>

        <div class="form-row" id="aoi_gadm" style="display: none;">
          <div class="form-group col-xs-4">
                    <select id="level0" class="form-control">
                        <option value="select" selected>Countries</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <select id="level1" class="form-control">
                        <option value="select" selected>Level 1</option>
                    </select>
                  </div>
                  <div class="form-group col-xs-4">
                    <select id="level2" class="form-control">
                        <option value="select" selected>Level 2</option>
                    </select>
                  </div>

              </div>

       

              </div> 

            </div>


            <!-- Title tab -->
          
            <div role="tabpanel" class="tab-pane" id="title">  
              <!--div class="calcite-form-title">1. Set the map name and call to action</div-->  
   
              <div class="form-horizontal calcite-form-padding" id="sampling-form">

              <form id="samplingForm">

                <div class="form-group">
                  <label for="samplingMethod" class="col-xs-3 control-label">Sampling Algorithm</label>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Sampling algorithm: 'dir' = directed (SurfaceTortoise algorithm), 'stratdir' = stratified directed (SurfaceTortoise algorithm), 'grid' = regular grid and 'stratrand' = random stratified." data-toggle="tooltip" data-trigger="click" ></span>
                  <div class="col-xs-9">
                    <select id="samplingMethod" class="form-control" disabled>
                      <option value="select" selected>Select</option>
                      <option value="stratdir">Stratified Directed</option>
                      <option value="dir">Directed</option>
                      <option value="grid">Regular Grid</option>
                      <option value="stratrand">Random Stratified</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="samplingStratsize" class="col-xs-3 control-label">Grid Size (m)</label>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="The cell size (in meters) of a square stratification grid" data-toggle="tooltip" data-trigger="click"></span>
                  <div class="col-xs-9">
                    <input id="samplingStratsize" class="form-control" value="" disabled>
                  </div>
                </div>

                <div class="form-group">
                  <label for="samplingDistance" class="col-xs-3 control-label">Min Distance (m)</label>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Minimum distance (in meters) between samples" data-toggle="tooltip" data-trigger="click" ></span>
                  <div class="col-xs-9">
                    <input id="samplingDistance" class="form-control" value="0" disabled>
                  </div>
                </div>

                <div class="form-group">
                  <label for="samplingEdge" class="col-xs-3 control-label">Buffer along edge (m)</label>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="No samples will be placed within this distance to the edge of the area." data-toggle="tooltip" data-trigger="click" ></span>
                  <div class="col-xs-9">
                    <input id="samplingEdge" class="form-control" value="0" disabled>
                  </div>
                </div>

                <div class="form-group">
                  <label for="samplingCriterium" class="col-xs-3 control-label">No. of samples</label>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Number of samples to place." data-toggle="tooltip" data-trigger="click" ></span>
                  <div class="col-xs-9">
                    <input id="samplingCriterium" class="form-control" value="50" disabled>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-9 col-xs-offset-3">
                    <button id="samplingRun" type="button" class="btn btn-primary btn-block" disabled>Run</button>
                  </div>
                </div>


                </form>

              </div> 

            </div>

            <!-- Tab - Map -->

            <div role="tabpanel" class="tab-pane" id="map1">
              <!--div class="calcite-form-title">2. Set the location, basemap and layer</div-->  

              <div class="form-horizontal calcite-form-padding">

                  <!--div class="form-group">
                      <label for="adaptSoil" class="col-xs-3 control-label">Soil Raster Layer</label>
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Raster layer" data-toggle="tooltip" data-trigger="click" ></span>
                      <div class="col-xs-9">
                        <select id="adaptSoil" class="form-control">
                          <option value="select" selected>Select</option>
                          <option value="Soil_Carbon_0_30_250m_3857.tif">Soil Organic Carbon</option>
                        </select>
                      </div>
                  </div-->


                <div class="form-group">

                  <form id="pointupload" action="" method="post" enctype="multipart/form-data">
                    <label for="pointfile" class="col-xs-3 control-label">Select points data(txt/zipped shp):</label>
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Path to point file with observed soil property data. The coordinate system shall be the same as for the raster." data-toggle="tooltip" data-trigger="click" ></span>
                    <div class="col-xs-9">
                    <input id="pointfile" name="shapefile" type="file" class="form-control" disabled/>
                    </div>
                    <div class="col-xs-9 col-xs-offset-3">
                    <button id="adaptUpload" type="submit" class="btn btn-primary btn-block" disabled>Upload</button>
                    </div>
                  </form>

                </div>

                <div class="form-group">

                  <div id="uploadfiles2" class="col-xs-12">
                      <ul>

                      </ul>

                  </div>
                </div>

                <div class="form-group">
                  <label for="adaptAttribute" class="col-xs-3 control-label">Attribute Column</label>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Name of the attribute column in points file. Required. The data must be numerical." data-toggle="tooltip" data-trigger="click" ></span>
                  <div class="col-xs-9">
                    <select id="adaptAttribute" class="form-control" disabled>
                      <option value="select" selected>Select</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="adaptXcol" class="col-xs-3 control-label">X Coodinates</label>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Name of the x coordinate column in points file" data-toggle="tooltip" data-trigger="click" ></span>
                  <div class="col-xs-9">
                    <select id="adaptXcol" class="form-control" disabled>
                      <option value="select" selected>Select</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="adaptYcol" class="col-xs-3 control-label">Y Coordinates</label>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Name of the y coordinate column in points file" data-toggle="tooltip" data-trigger="click" ></span>
                  <div class="col-xs-9">
                    <select id="adaptYcol" class="form-control" disabled>
                      <option value="select" selected>Select</option>
                    </select>
                  </div>
                </div>


                <div class="form-group">
                  <div class="col-xs-9 col-xs-offset-3">
                    <button id="adaptRun" type="button" class="btn btn-primary btn-block" disabled>Run</button>
                  </div>
                </div>




              </div> 

            </div>

            <!-- Tab - Theme -->
            <div role="tabpanel" class="tab-pane" id="theme">

              <div id="outfiles" class="col-xs-12">
                <br/>


              </div>
              <div id="feedback" class="col-xs-12">

              </div>

              <div id="evaluation" class="col-xs-12">

              </div>



            </div>


            <!-- Tab - Layout -->


          </div><!-- /.tab-content -->
        </div><!-- /.panel-body -->
      </div><!-- /.panel-collapse --> 
    </div><!-- /.panel -->
    
  </div> <!-- /.calcite-panels -->

  
  <script src="/static/dist/js/gsdm/map_panel.js"></script>

  <!-- ====== -->
  <!-- jQuery --> 
  <!-- ====== -->

  <!--script src="https://esri.github.io/calcite-bootstrap/scripts/vendor.js"></script-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all plugins or individual files as needed -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/dist/js/gsdm/bootstrap-waitingfor.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  <script src="/static/dist/js/gsdm/app.js"></script>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery (for Bootstrap's JavaScript plugins). NOTE: You can also use pure Dojo. See examples. -->
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
  <!-- Include all  plugins or individual files as needed -->
  <!--script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script-->

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!--script src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->
  
  <!--script src="https://esri.github.io/calcite-bootstrap/scripts/vendor.js"></script-->
  <!--script src="https://esri.github.io/calcite-bootstrap/scripts/plugins.js"></script-->
  <script src="/static/dist/js/jquery/calcitemaps-v0.8.js"></script>


</body>
</html>

